<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- インターネット -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- ロケーション -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
</manifest>
